/* Font Styling for a few components*/

li1 {font-family: 'Nunito Sans';font-size: 50px; font-style: normal; font-weight: 700; }
        
li2 {font-family: 'Staatliches';font-size: 30px; font-style: oblique; font-weight: 900;}

h3, p {font-family: 'Sanchez';}

h4 {font-family: 'Sanchez';}

h2 {
    color: white;
    font-size: 18px;
}

html{
    scroll-behavior: smooth;
}

/* Overide user agent stylesheet */
body{
margin: 0px;
background-color: black;
}

/*Logo */

header{
    background-color: black;
}

.logo{
    text-decoration: none;
    text-align: left;
    color: red;
    background-color: black;
    z-index: 1;
    position: relative;
}

.logo img{
    width: 90px;
    height: 50px;
}


/* Targeting navbar wrapper */

.navbar{
    display: flex;
    justify-content: flex-end;
    background: black; 
    padding-top: 5px;    
}

/* MENU STYLES */

nav{
    background: black; 
    position: fixed;
}

nav a{
    display: inline;
    text-decoration: none;
    color: red;
    background-color: black;
    font-family: 'Staatliches';
    font-style: oblique; 
    font-weight: 900;
    font-size: 35px;
    align-content: center;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 2px;  
}

nav a:hover{
    background-color: rgba(100, 100, 100, .4);
}

/* State set by page position */
a.active{
    box-shadow: 0 0 10px 5px #ffdb00;
    transition: .4s;
}


/* Top of Page Now Showing 
   CSS Grid layout */

.parrallax1{
    background-image: url(../../../media/bg1.jpg);
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.NowShowing h3 {
    color: white;   
}

.NowShowing{
    text-align:center;
    padding-top: 90px;
    min-width: 800px;
    min-height: 100vh;
}

.MoviePoster{
    height: 400px;
    width: auto;    
}

.grid-nowshowing{
    display: grid;
    grid-gap: 2em;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 1200px;
    width: 95%;   
}

.grid-item1{
    border-style: solid;
    border-width: thin;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    background-color: rgba(200, 0, 0, .6);
    cursor: grab;
    
}
/* More Info Button */

.Button1{
    background-color: black;
    border: 2px solid grey;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 20px;
}

/* Modal Functions */

.modalDialog{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.1);
	z-index: 99;
	opacity:0;
	transition: opacity 300ms ease-in;
	pointer-events: none;
    cursor: default;
}
.modalDialog table{
    color: white;
    display: flex;
    justify-content: center; 
    padding-bottom: 10px;
}

.modalDialog table th{
    padding-right: 8px;
    padding-left: 8px;
}
.modalDialog table td{
    font-size: 17px;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 800px;
	position: relative;
	margin: 7% auto;
	padding: 10px 10px 10px 20px;
	border-radius: 10px;
	background: black;	
}

.modalDialog p{
    color: white;
}

.close {
	background: grey;
	color: white;
	line-height: 35px;
	position: absolute;
	right: -1px;
	text-align: center;
	top: -1px;
	width: 34px;
    font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 17px;
	box-shadow: 2px 2px 3px #111;
}

.close:hover { background: red; }

.button {
  background-color: #E11D1D;
  color: rgb(200, 0, 0, .5);
  padding:1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 2px 4px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}

.button:hover{
    background-color: rgb(180, 0, 0, .8);
}
 

/* Seating section
--------------------------
*/

.parrallax2{
    background-image: url(../../../media/seats.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}

.Seats{
    text-align: center;
    padding-top: 90px;
    min-width: 800px;
    min-height: 100vh;
    letter-spacing: 2px;  
}

.Seat{
    max-height: 400px;
    min-height: 200px;
    width: auto;  
}

.grid-seats{
    display: grid;
    grid-gap: 1em;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    background-color:;
    max-width: 1200px;
    width: 95%;
    padding-top: 60px;
}

.grid-item{
    text-align: center;    
}

.grid-item:first-child{
    font-size: 20px;
    text-align: center;
    grid-column: auto / span 2;
    background-color: rgba(150, 0, 0, .2);
}

.Seats div{
    font-size: 20px;
    color: white;
}

/* Section 3 - Booking  */

.parrallax3{
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Booking h2{
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
    font-family: 'Sanchez';
    letter-spacing: 2px;
}

.Booking{
    margin: auto;
    width: 100%;
    min-height: 100vh; 
}

.Dropdowns{
    column-count: 2;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .9);
    max-width: 80%;
    margin: 2rem auto;
    padding: 3rem;
    font-family: 'Sanchez';
    font-weight: 600;
    letter-spacing: 2px;
}
.Dropdowns fieldset{
    border-radius: 5px;
    border-style: double;
}

.Dropdowns select{
    font-family: 'Sanchez';
    font-size: 20px;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
}

.Dropdowns label{
    display: block;
    color: black;
    font-size: 25px;
    padding: 4px;
    width: 200px;
}

.Dropdowns input{
    border-radius: 5px;
    width: 60%;
    height: 25px;
    font-family: 'Sanchez';
    font-size: 20px;
    padding-bottom: 5px;
    background-color: lightgrey;
}

.Dropdowns .submit{
    width: 50%;
    margin-left: 35px;
    font-size: 20px;
    font-family: 'Sanchez';
    font-weight: 900;
    letter-spacing: 4px;
    padding-bottom: 40px;
    padding-top: 20px;
    background-color: rgba(0, 250, 0, .1);
    box-shadow: 20px;
}


/* Section 4 - About  */

.parrallax4{
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
}

.About h2{
    text-align: center;
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
}

.About video{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: block;
}

/* Debug Area */

.DebugArea {
    border: solid;
    margin: 10px;
    border-width: thin;
    background-color: azure;
}

/* Media Query for deteriming layout on differn't screen sizes

Work in progress. Will need some fine tuning to fit  he menu bar in more efficently
or possible use of a hamburger style

----Note to self increase min width when finished testing grids---

*/

@media screen and (min-width: 1px){
    
    nav ul{
        display: flex;
        justify-content: flex-end;
        
    }   
    
    nav li{
        flex 1 1 0;
    }
    

} /* End media 768px */

   